body {
    width: 300px;
    min-height: 400px;
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }
  .container {
    flex: 1;
    padding: 20px;
  } 
  body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  body.light-mode {
    background-color: #e0e0e0;
    color: #000;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  body.dark-mode input {
    background-color: #555;
    color: #fff;
    border-color: #777;
  }
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #addKeywordButton {
    background-color: #4CAF50;
  }
  #addKeywordButton:hover {
    background-color: #45a049;
  }
  #cleanButton {
    background-color: #f44336;
  }
  #cleanButton:hover {
    background-color: #d32f2f;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  body.light-mode li {
    background-color: #f5f5f5;
  }
  
  body.dark-mode li {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .remove-icon {
    cursor: pointer;
    color: #ff0000;
  }
  #modeToggle {
    cursor: pointer;
    flex-shrink: 0;
  }
  #modeToggle .sun {
    display: none;
  }
  #modeToggle .moon {
    display: block;
  }
  body.dark-mode #modeToggle .sun {
    display: block;
  }
  body.dark-mode #modeToggle .moon {
    display: none;
  }
  .footer {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
  }
  .footer a {
    text-decoration: none;
    font-weight: bold;
  }
  body.light-mode .footer,
  body.light-mode .footer a {
    color: #333;
  }
  body.dark-mode .footer,
  body.dark-mode .footer a {
    color: #ccc;
  }